.about-us {
  padding: 200px 0;
}

.about-us .container h1 {
  font-family: "Montserrat-700";
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  margin: 10px 0;
}
.about-us .container .subtitle {
  text-align: center;
  height: 40px;
  max-width: 511px;
  margin: 0 auto;
  font-family: "Montserrat-500";
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;

  margin-bottom: 50px;
}
.about-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.about-item {
  height: 209px;
  width: 230px;
  padding: 30px 40px 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}
.about-item > * {
  margin: 5px 0;
}
.about-item h2 {
  font-family: "Montserrat-700";
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.20000000298023224px;
}
.about-item p {
  font-family: "Montserrat-700";
  font-size: 12px;
  color: var(--second-text-color);

  text-align: center;
}
.about-item:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
}
