@import url(common.css);

.footer {
  height: 307px;
  width: 100%;
}
.footer-main {
  padding: 50px 0;
  background-color: var(--secondary-color-2);
}
.footer-sections {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-section h2 {
  color: white;
  font-family: "Montserrat-700";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  margin: 10px 0;
}
.footer-section p {
  color: white;
  font-family: "Montserrat-600";
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  margin: 10px 0;
}
.footer-section span {
  display: flex;
  gap: 10px;
  align-items: center;
}
.footer-bottom .socials {
  display: flex;
  gap: 20px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0px 19px 0;
}

.footer-bottom p {
  font-family: "Montserrat-600";
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: var(--second-text-color);
}
