@import url(common.css);
.home {
  position: relative;
  width: 100%;
  background-image: url(../images/home-bg-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 150px 0;
}
.home-container {
  position: relative;
}
.home h1 {
  font-family: "Montserrat-800";
  font-size: 58px;
  line-height: 80px;
  height: 160px;
  width: 509px;
  margin-top: 80px;
  color: #252b42;
}
.home p {
  font-family: "Montserrat-500";
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  height: 60px;
  width: 376px;
  color: #737373;
  margin: 35px 0;
}
.home-btns {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 30px 0 80px 0;
}
.home-btns .btn {
  display: inline-block;
  border-radius: 37px;
  padding: 10px 36px 10px 36px;
  border: 1px solid var(--secondary-color-1);
  color: var(--secondary-color-1);
  background: transparent;
}
.home-btns .btn:hover {
  background: var(--primary-color);
  color: white;
  border: none;
}
.home-bottom-items {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  bottom: -350px;
  flex-wrap: wrap;
}
.home-bottom-items .item {
  max-width: 328px;
  background: #ffffff;
  padding: 35px 40px;
}
.home-bottom-items .item:hover {
  background-color: var(--secondary-color-1);
}
.home-bottom-items .item:hover h2,
.home-bottom-items .item:hover p {
  color: white;
}

.item h2 {
  font-family: "Montserrat-700";
  font-size: 20px;
  line-height: 32px;
}
.item p {
  font-family: "Montserrat-500";
  font-size: 14px;
  height: 40px;
  width: 217px;
}
.burger {
  display: none;
}
