@import url(common.css);

.nav-bar {
  position: fixed;
  z-index: 99;
  width: 100%;
  background: white;
}

.logo h3 {
  font-family: "Montserrat-700";
  font-size: 24px;
  line-height: 32px;
  text-align: left;
}
.nav-menu {
  display: flex;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-menu {
  gap: 20px;
  padding: 28px 0;
}
.nav-menu li a {
  font-family: "Montserrat-600";
  font-size: 14px;
  line-height: 24px;
  color: #737373;
}
.responsive-navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.responsive-navbar li a {
  font-family: "Montserrat-600";
  font-size: 24px;
  line-height: 24px;
  color: black;
}
.navbar-close {
  position: absolute;
  right: 0;
}
.nav-menu li a:hover {
  color: #000000;
}
#navbar-responsive {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  transition: 0.5s;
}
p a {
  color: white;
}
