@import url(common.css);

.subscribe {
  background-color: #fafafa;
}

.brands {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 56px 0;
}
.sub {
  background: var(--secondary-color-2);
  padding: 30px 50px 30px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sub h1 {
  height: 64px;
  width: 258px;
  font-family: "Montserrat-700";
  font-size: 24px;
  color: white;
  line-height: 32px;
  letter-spacing: 0.10000000149011612px;
}
.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe-btn input {
  height: 58px;
  max-width: 450px;
  min-width: 200px;
  background: #e6e6e6;
  border: 1px solid #e6e6e6;
  border-radius: 5px 0 0 5px;
  padding: 15px 20px;
}
.subscribe-btn input:focus {
  outline: none;
}
.subscribe-btn input:placeholder {
  font-family: "Montserrat-400";
  font-size: 14px;

  line-height: 28px;
  letter-spacing: 0.20000000298023224px;
  color: var(--secondary-color-2);
}
.subscribe-btn .send-sub {
  height: 58px;
  width: 117px;
  background: var(--primary-color);
  border: 1px solid #e6e6e6;
  border-radius: 0 5px 5px 0;

  font-family: "Montserrat-400";
  font-size: 14px;
  color: white;
  line-height: 28px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
}
